@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{max-width: 1280px;
    margin: 0 auto;}

/* banner */

.banner{   
    
    background: rgb(198, 228, 214);
    display: flex;
flex-direction: row;
justify-content: center;
align-items:flex-start;
gap: 64px;
padding: 80px 100px 80px 100px;
margin: 80px 0px;  
border-radius: 24px;
   
}
    .banner-content{
        width: 622px;
height: 326px;
margin: 0px 64px; 
; 
display: flex;
flex-direction: column;
justify-content:flex-start;
align-items: flex-start;
gap: 24; 
    }

.banner-title{
    
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align:left;
    flex: none;

align-self: stretch;

margin: 16px 0px;
gap: 16;
} 

.banner-description{   
    
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
     line-height: 56px; 
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;

}

.btn-banner{ 
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(0, 106, 80);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;
margin: 24px 0px;

} 

.banner-image{}

/* main */
/* vision-cards */
.vision

.card-container{
    display: flex;
     width:max-content;
height: 325px; 
justify-content: flex-start;
align-items:center;
gap: 24;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}

.card{
    width: 410.67px;
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 32px;
flex: none;
order: 0;
flex-grow: 1;
 margin-right: 24px; 
box-sizing: border-box;
border-radius: 16px;

}
.card-title{
    color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
flex: none;
align-self: stretch;
margin: 12px 0px;
}

.card-description{
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px;
flex: none;
align-self: stretch;
}

.card-button{
    
width: 122px;
height: 41px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;


flex: none;

margin: 24px 0px;
border-radius: 8px;

background: rgb(84, 144, 245);
}
.image{width: 49.66px; 
    height: 53.09px;
    left: 13.34px;
    top: 1px;}
    #bg1{background: rgba(84, 144, 245, 0.2);}
    #bg2{background: rgb(198, 228, 214);}
    #bg3{background: rgb(247, 235, 207);}

    #btn1{background: rgb(84, 144, 245);
    }
    #btn2{background: rgb(9, 161, 92);}
    #btn3{background: rgb(255, 194, 57);}
    
